<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beer_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,112},{40,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>bottle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,471},{38,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,52}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>bottle2_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,471},{38,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>bottle_cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{32,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{32,28}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>bum_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{111,155}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,155}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>bum_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{107,155}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,155}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>bum_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,155},{111,137}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,137}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>bum_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,155}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>button-action.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,473},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>button-jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>enemy_hippy-bum.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,316},{119,153}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,153}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>enemy_mullet-hawk_dude.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{113,151}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{113,151}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>enemy_whore.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,159},{103,153}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{103,153}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>trashcan.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,112},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameobjects.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccab760634a207507c2c169016db1caf$</string>
            <key>textureFileName</key>
            <string>gameobjects.png</string>
        </dict>
    </dict>
</plist>
