<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level0-bgslice-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,388},{480,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,384}}</string>
                <key>sourceSize</key>
                <string>{480,384}</string>
            </dict>
            <key>level0-bgslice-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{480,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,384}}</string>
                <key>sourceSize</key>
                <string>{480,384}</string>
            </dict>
            <key>level0-bgslice-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,384}}</string>
                <key>sourceSize</key>
                <string>{480,384}</string>
            </dict>
            <key>level0-bgslice-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,384}}</string>
                <key>sourceSize</key>
                <string>{480,384}</string>
            </dict>
            <key>level0-bgslice-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{128,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,384}}</string>
                <key>sourceSize</key>
                <string>{128,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b982b12d6740398b51c13cdd03e7a25e$</string>
            <key>textureFileName</key>
            <string>level0.png</string>
        </dict>
    </dict>
</plist>
