<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level0-bgslice-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,772},{960,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,768}}</string>
                <key>sourceSize</key>
                <string>{960,768}</string>
            </dict>
            <key>level0-bgslice-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{960,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,768}}</string>
                <key>sourceSize</key>
                <string>{960,768}</string>
            </dict>
            <key>level0-bgslice-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,768}}</string>
                <key>sourceSize</key>
                <string>{960,768}</string>
            </dict>
            <key>level0-bgslice-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,768}}</string>
                <key>sourceSize</key>
                <string>{960,768}</string>
            </dict>
            <key>level0-bgslice-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{256,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,768}}</string>
                <key>sourceSize</key>
                <string>{256,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level0-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33d87911f7e8401e7479ca5fe213689$</string>
            <key>textureFileName</key>
            <string>level0-hd.png</string>
        </dict>
    </dict>
</plist>
